body {
  font-family: Tahoma, Geneva, sans-serif; 
  line-height: 1.5;
}


nav {
  background: #323232;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  color: #f6a21d;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}


nav ul li a:active {
  color: #fff;
  text-decoration: underline;
}


#hero{
  background: #323232;
  background: -webkit-linear-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0.6)), url("images/thames.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.banner-sub-pages{
  background: #323232;
  background: -webkit-linear-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0.6)), url("images/thames-titles.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

h1 {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}

h2 {
  color: #800000;
  padding: 10px;
  line-height: normal;
  font-size: 1.5rem;
  text-align: center;
}

h2 a {
  color: #800000;
  text-decoration: none;
}

h2 a:hover {
  color: #800000;
  text-decoration: underline;
}

h2 a:active {
  color: #fff;
  background-color: #800000;
  text-decoration: underline;
}

h3, h4 {
  color: #800000;
  padding: 10px;
  line-height: normal;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.13rem;
}


p {
  color: #000000;
  font-size: 1.13rem;
  text-align: center;
  line-height: normal;
  padding: 10px;
}

p a {
  color: #800000;
}

p a:hover {
  color: #800000;
}

p a:active {
  color: #fff;
  background-color: #800000;
  text-decoration: underline;
}


.publications {
  border: solid #f6a21d;
  background: #f6a21d;
}

.events {
  border: solid #323232;
  background: #323232;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
}

button {
  border: 1px solid #800000; 
  background: #800000;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 1.5% 1.5% 1.5% 1%;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover {
  color: #fff; 
}

button:active {
  text-decoration: underline;
  background: #000; 
}


form {
  font-family: Tahoma, Geneva, sans-serif; 
  text-align: center;
  }

label {
  text-align: left;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
}

input {
  border: 2px solid #800000;
  background: #fff;
  text-align: left;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

textarea {
  border: 2px solid #800000;
  background: #fff;
  font-family: Tahoma, Geneva, sans-serif; 
  text-align: left;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

#submit {
  border: 1px solid #800000;
  color: #fff;
  background: #800000;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 1.5% 1.5% 1.5% 1%;
  cursor: pointer;
}

#submit a {
  text-decoration: none;
}

#submit a:hover {
  color: #fff; 
}

#submit:active {
  text-decoration: underline;
  background: #000; 
}


.btn {

text-align: center;

vertical-align: middle;

padding: .67em .67em;

cursor: pointer;

}



.btn-header {

margin: .5em 15% 2em 15%;

color: white;

border: 2px solid #800000; 

background-color: rgba(255, 255, 255, .1);

border-radius: 0;

font-size: 1.5em;

font-weight: lighter;

padding-left: 2em;

padding-right: 2em;

}



.btn-header:hover {

background-color: rgba(255, 255, 255, .3);

}



.btn-play {

display: block;

margin: 0 auto;

font-size: 4em;

border-radius: 50%;

width: 100px;

height: 100px;

padding: 0;

text-align: center;

}



.btn-primary {

color: white;

background-color: #800000; 

border: none;

border-radius: .3em;

font-weight: bold;

}



.btn-primary:hover {

background-color: #800000; 

}

.btn-primary:active {
  text-decoration: underline;
  background: #000; 
}


.shop-item {

margin: 30px;

}



.shop-item-title {

display: flex;

width: 100%;

text-align: center;

font-weight: bold;

font-size: 1.13rem;

color: #333;

margin-bottom: 15px;

}



.shop-item-image {

height: 150px;
display: flex;
margin-left: auto;
margin-right: auto;
}



.shop-item-details {

display: flex;

align-items: center;

padding: 5px;

}



.shop-item-price {

flex-grow: 1;

color: #333;

font-size: 1.13rem; 

}



.shop-items {

display: flex;
margin-left: auto;
margin-right: auto;
}



.cart-header {

font-weight: bold;

font-size: 1.13rem;

color: #333;

}



.cart-column {

display: flex;

align-items: center;

border-bottom: 1px solid black;

margin-right: 1.5em;

padding-bottom: 10px;

margin-top: 10px;

}



.cart-row {

display: flex;

}



.cart-item {

width: 33%;

}



.cart-price {

width: 20%;

font-size: 1.13rem;

color: #333;

}



.cart-quantity {

width: 35%;

}



.cart-item-title {

color: #333;

margin-left: .5em;

font-size: 1rem;

}



.cart-item-image {

width: 100%;

height: auto;

}



.btn-danger {

color: white;

background-color: #800000;

border: none;

border-radius: .3em;

font-weight: bold;

}



.btn-danger:hover {

background-color: #800000;

}

.btn-danger:active {
  text-decoration: underline;
  background: #000; 
}


.cart-quantity-input {

height: 34px;

width: 50px;

border-radius: 5px;

border: 1px solid #800000; 

background-color: #eee;

color: #333;

padding: 0;

text-align: center;

font-size: 1rem;

margin-right: 25px;

}



.cart-row:last-child {

border-bottom: 1px solid black;

}



.cart-row:last-child .cart-column {

border: none;

}



.cart-total {

text-align: end;

margin-top: 10px;

margin-right: 10px;

}



.cart-total-title {

font-weight: bold;

font-size: 1.13rem;

color: black;

margin-right: 20px;

}



.cart-total-price {

color: #333;

font-size: 1.13rem;

}



.btn-purchase {

display: block;

margin: 40px auto 80px auto;

font-size: 1.13rem;

}


footer {
  background: #323232;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer ul li {
  padding-right: 2em;
}





@media screen and (max-width: 390px) {
   
  nav ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    align-items: center;
  }

}


@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.5rem; 
  }
  
  body {
    font-size: smaller;
  }
}

@media screen and (max-width: 390px) {
  .shop-items {
    flex-direction: column;
  }
}

@media screen and (max-width: 390px) {
  .cart-price {
    font-size: 1rem;
  }
}

