body {
  font-family: Tahoma, Geneva, sans-serif; 
  line-height: 1.5;
}

.wrapper {
  display: none;
}

nav {
  background: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: #f6a21d;
  padding: 0.5em 0.75em;
}

nav #current {
  color: #fff;
  border: solid #fff;
  border-radius: 0.3125em;
} 

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}


nav ul li a:active {
  color: #fff;
  text-decoration: underline;
}

#hero{
  background: #323232;
  background: -webkit-linear-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0.6)), url("images/thames.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18.75em;
}

.banner-sub-pages{
  background: #323232;
  background: -webkit-linear-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0.6)), url("images/thames-titles.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375em;
}

h1 {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}

h2 {
  color: #800000;
  line-height: normal;
  font-size: 1.5rem;
  text-align: center;
}

h2 a {
  color: #800000;
  text-decoration: none;
}

h2 a:hover {
  color: #800000;
  text-decoration: underline;
}

h2 a:active {
  color: #fff;
  background-color: #800000;
  text-decoration: underline;
}


h3 {
  color: #800000;
  line-height: normal;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.13rem;
}


p {
  color: #000000;
  font-size: 1.13rem;
  text-align: center;
  line-height: normal;
  padding: 0.625em;
}

p a {
  color: #800000;
}

p a:hover {
  color: #fff;
  background-color: #800000;
  text-decoration: underline;
}

p a:active {
  color: #fff;
  background-color: #800000;
  text-decoration: underline;
}


button {
  border: solid #800000; 
  background: #800000;
  font-weight: bold;
  text-align: center;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 1.5% 1.5% 1.5% 1%;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover {
  text-decoration: underline;
  color: #fff; 
}

button:active {
  text-decoration: underline;
  background: #000; 
}


form {
  font-family: Tahoma, Geneva, sans-serif; 
  text-align: center;
  }

label {
  text-align: left;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
}

input {
  border: 0.125em solid #800000;
  background: #fff;
  text-align: left;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

textarea {
  border: 0.125em solid #800000;
  background: #fff;
  font-family: Tahoma, Geneva, sans-serif; 
  text-align: left;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

fieldset {
  border: none;
}

#submit {
  border: solid #800000;
  color: #fff;
  background: #800000;
  font-weight: bold;
  text-align: left;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.13rem;
  line-height: 1.8;
  margin: 1.5% 1.5% 1.5% 1%;
  cursor: pointer;
}

#submit a {
  text-decoration: none;
}

#submit a:hover {
  color: #fff; 
  text-decoration: underline;
}

#submit:active {
  text-decoration: underline;
  background: #000; 
}


.btn {

text-align: center;

vertical-align: middle;

padding: .67em .67em;

cursor: pointer;

}



.btn-header {

margin: .5em 15% 2em 15%;

color: white;

border: 0.125em solid #800000; 

background-color: rgba(255, 255, 255, .1);

border-radius: 0;

font-size: 1.5em;

font-weight: lighter;

padding-left: 2em;

padding-right: 2em;

}



.btn-header:hover {

background-color: rgba(255, 255, 255, .3);

}



.btn-play {

display: block;

margin: 0 auto;

font-size: 4em;

border-radius: 50%;

width: 6.25em;

height: 6.25em;

padding: 0;

text-align: center;

}



.btn-primary {

color: white;

background-color: #800000; 

border: none;

border-radius: .3em;

font-weight: bold;

}



.btn-primary:hover {

background-color: #800000; 

}

.btn-primary:active {
  text-decoration: underline;
  background: #000; 
}


.shop-item {

margin: 1.875em;

}



.shop-item-title {

display: flex;

width: 100%;

text-align: center;

font-weight: bold;

font-size: 1.13rem;

color: #333;

margin-bottom: 0.9375em;

}



.shop-item-image {

height: 9.375em;
display: flex;
margin-left: auto;
margin-right: auto;
}



.shop-item-details {

display: flex;

align-items: center;

padding: 0.3125em;

}



.shop-item-price {

flex-grow: 1;

color: #333;

font-size: 1.13rem; 

}



.shop-items {

display: flex;
margin-left: auto;
margin-right: auto;
}



.cart-header {

font-weight: bold;

font-size: 1.13rem;

color: #333;

}



.cart-column {

display: flex;

align-items: center;

border-bottom: solid black;

margin-right: 1.5em;

padding-bottom: 0.625em;

margin-top: 0.625em;

}



.cart-row {

display: flex;

}



.cart-item {

width: 33%;

}



.cart-price {

width: 20%;

font-size: 1.13rem;

color: #333;

}



.cart-quantity {

width: 35%;

}



.cart-item-title {

color: #333;

margin-left: .5em;

font-size: 1rem;

}



.cart-item-image {

width: 100%;

height: auto;

}



.btn-danger {

color: white;

background-color: #800000;

border: none;

border-radius: .3em;

font-weight: bold;

}



.btn-danger:hover {

background-color: #800000;

}

.btn-danger:active {
  text-decoration: underline;
  background: #000; 
}


.cart-quantity-input {

height: 2.125em;

width: 3.125em;

border-radius: 0.3125em;

border: solid #800000; 

background-color: #eee;

color: #333;

padding: 0;

text-align: center;

font-size: 1rem;

margin-right: 1.5625em;

}



.cart-row:last-child {

border-bottom: solid black;

}



.cart-row:last-child .cart-column {

border: none;

}



.cart-total {

text-align: end;

margin-top: 0.625em;

margin-right: 0.625em;

}



.cart-total-title {

font-weight: bold;

font-size: 1.13rem;

color: black;

margin-right: 1.25em;

}



.cart-total-price {

color: #333;

font-size: 1.13rem;

}



.btn-purchase {

display: block;

margin: 2.5em auto 5em auto;

font-size: 1.13rem;

}


footer {
  background: #323232;
  padding: 0.625em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer ul li {
  padding-right: 2em;
}



@media screen and (max-width: 390px) {
  
#wrapper {
    background: #323232;
    text-align: center;
  }

  .open {
    background-color: #323232;
    color: #fff;
    font-size: 1.375em;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .burger {
    width: 0;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    background-color: #323232;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    align-items: center;
  }

  .burger a {
    color: #f6a21d;
    font-size: 1.375em;
    text-decoration: none;
    transition: 0.3s;
  }

  .burger .current {
    color: #fff;
    border: solid #fff;
    border-radius: 0.3125em;
    padding: 0.2em;
  }

  .close {
    float: none;
  }

  .burger a:not(:first-child):hover{
    background-color: #323232;
    color: #fff;
    text-decoration: underline;
  }
  
  nav {
    display: none;
  }

  /*nav ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    align-items: center;
  }*/

}


@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.5rem; 
  }
  
  body {
    font-size: smaller;
  }
}

@media screen and (max-width: 390px) {
  .shop-items {
    flex-direction: column;
  }
}

@media screen and (max-width: 390px) {
  .cart-price {
    font-size: 1rem;
  }
}

